.landing-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-container img {
  min-width: 275px;
  width: 20vw;
  height: auto;
}

.spotify-login {
  cursor: pointer;
  margin-top: 25px;
  background-color: var(--primary);
  text-decoration: none;
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-family: "Plus Jakarta Sans";
}
.spotify-login:hover {
  background-color: var(--tertiary);
}
