.playlist-page-container {
  position: relative;
  top: 12vh;
  color: black;
  display: flex;
}

.playlist-page-section-one {
  padding: 1vh;
  width: 40vw;
}
.playlist-page-section-two {
  margin-top: 1vh;
  padding: 0vh 1vh 1vh 1vh;
  height: 80vh;
  overflow: scroll;
}

.playlist-page-header {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  border: 1px solid var(--tertiary);
  background-color: var(--primary);
  color: var(--secondary);
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: height 0.8s ease;
}


.playlist-page-header h2 {
  text-align: center;
}

.playlist-page-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playlist-page-header-info h3 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}
.playlist-page-header-info table {
  background-color: rgba(225, 225, 225, 0.3);
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
  opacity: 1;
}
.playlist-page-header-info table td {
  width: 50%;
  padding: 5px;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}
.playlist-page-header-info table td h4 {
  font-size: 0.9rem;
}
.playlist-page-header-info table td p {
  font-size: 0.8rem;
  font-family: 500;
}

.playlist-page-header img {
  width: 25vh;
  height: auto;
  margin: 10px auto;
  align-self: center;
}

.playlist-page-header h2 {
  color: var(--tertiary);
}

.playlist-page-features {
  margin: 10px 0px;
  border: 1px solid var(--tertiary);
  background-color: var(--primary);
  padding: 2vh;
  height: fit-content;
}

.playlist-page-features h2 {
  color: var(--secondary);
  text-align: center;
  margin: 1vh 0vw 1.8vh 0vw;
}

.playlist-page-list-container {
 color: var(--secondary);
}
.playlist-page-track-div {
  cursor: pointer;
  border: 1px solid var(--tertiary);
  background-color: var(--primary);
  display: flex;
  margin-bottom: 10px;
}

.playlist-page-track-div:last-child {
  margin-bottom: 0px;
}

.playlist-page-track-div-info {
  margin: 10px 0px 0px 10px;
  width: 100%;
}
.playlist-page-track-div-artists {
  display: flex;
  margin: 5px 0px;
}
.playlist-page-track-div h2 {
  font-size: 1.3rem;
}
.playlist-page-track-div h3 {
  font-size: 0.9rem;
}
.playlist-page-track-div-artists h3 {
  margin-right: 15px;
}

.playlist-page-track-div img {
  background-color: var(--tertiary);
  padding: 10px;
  width: 150px;
}

@media only screen and (max-width: 425px) {
  .playlist-page-container {
    top: 5vh;
  }
  .playlist-page-section-one {
    min-width: 95vw;
  }
  .playlist-page-section-two {
    min-width: 95vw;
  }
  .playlist-page-track-div {
    width: 100%;
  }
  .playlist-page-track-div h2 {
    font-size: 0.9rem;
  }
  .playlist-page-track-div h3 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .playlist-page-container {
    flex-direction: column;
    align-items: center;
  }
  .playlist-page-header {
    height: fit-content;
  }
  .playlist-page-header:hover {
    height: fit-content;
  }
  .playlist-page-header-info table {
    opacity: 1;
  }
  .playlist-page-section-one {
    width: 80vw;
  }
  .playlist-page-section-two {
    width: 80vw;
    height: 50vh;
    margin-bottom: 12vh;
  }
}
