.user-top-page-container {
  position: relative;
  top: 10vh;
}

.user-top-page-header,
.user-top-page-sort {
  display: flex;
}
.user-top-page-header {
  justify-content: space-between;
  margin: 5vh 3vw;
}
.user-top-page-header h1 {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--tertiary);
}
.user-top-page-sort {
  align-items: center;
}
.user-top-page-sort p {
  color: var(--primary);
  cursor: pointer;
  margin: 0px 10px;
}

.user-top-page-div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-top-page-card {
  display: flex;
  cursor: pointer;
  background: var(--primary);
  width: calc(33.33% - 20px);
  margin: 10px;
  height: fit-content;
}
.user-top-page-image-div {
  padding: 1vh;
  background-color: var(--tertiary);
  width: fit-content;
}
.user-top-page-card img {
  width: 125px;
  height: 125px;
}
.user-top-page-info-div {
  margin-top: 5px;
  width: 100%;
  margin-left: 10px;
}
.user-top-page-info-div ul {
  margin: 2px;
  list-style: none;
  color: var(--primary-light);
}

.user-top-page-reccom-container {
  margin-top: 5vh;
  height: fit-content;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-top-page-reccom-container h2 {
  text-align: center;
  font-size: 2rem;
  margin: 5vh;
}

.user-top-page-reccom-div {
  display: flex;
  min-width: 80vw;
  margin-bottom: 5vh;
}

.reccom-div {
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--secondary);
  margin: 0px auto;
  width: 20vw;
}

.reccom-div h3,
h4 {
  text-align: center;
  width: fit-content;
  margin: 10px auto;
  height: fit-content;
}

.reccom-div h3 {
  color: var(--primary);
}
.reccom-div h4 {
  color: var(--tertiary);
}
.reccom-div img {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 20vw;
  height: 20vw;
}

@media only screen and (max-width: 425px) {
  .user-top-page-sort p {
    font-size: 0.9rem;
  }
  .user-top-page-info-div h3 {
    font-size: 1.1rem;
  }
  .user-top-page-info-div li {
    font-size: 0.85rem;
  }
  .artist-page-card img {
    width: 105px;
    height: 105px;
  }
  .user-top-page-card {
    min-width: 90vw;
  }

  .user-top-page-reccom-div {
    flex-direction: column;
  }
  .reccom-div {
    min-width: 70vw;
  }
  .reccom-div img {
    min-width: 70vw;
    min-height: 70vw;
  }
}

@media only screen and (max-width: 320px) {
  .user-top-page-sort p {
    font-size: 0.8rem;
    margin: 0px 8px;
  }
}

@media only screen and (max-width: 768px) {
  .user-top-page-header,
  .user-top-page-div {
    flex-direction: column;
    align-items: center;
  }
  .user-top-page-container {
    top: 0;
  }
  .user-top-page-sort {
    margin: 20px 0px 10px 0px;
    font-weight: 700;
  }
  .user-top-page-div {
    padding: 1vh;
    margin-bottom: 10vh;
  }

  .user-top-page-reccom-div {
    min-width: fit-content;
    margin-bottom: 12vh;
  }
  .reccom-div {
    width: 30vw;
    margin: 10px 5px;
  }
  .reccom-div img {
    width: 30vw;
    height: 30vw;
  }
  .artist-page {
    padding-bottom: 12vh;
  }
}

@media only screen and (max-width: 1024px) {
  .user-top-page-card {
    width: calc(50% - 20px);
  }
}

@media only screen and ((min-width: 425px) and (max-width: 768px)) {
  .user-top-page-card {
    min-width: 85vw;
  }
}
