.user-about-section,
.user-info-section,
.user-info,
.user-info div,
.home-page-top-section,
.home-page-top-card {
  display: flex;
}

.user-info-section,
.user-info div {
  align-items: center;
  flex-direction: column;
}

.user-info-section,
.home-page-top-section {
  justify-content: space-around;
}

.home-page-container {
  height: 90vh;
}

.user-about-section {
  padding: 1vh;
}
.user-about-section img {
  margin: 10px;
  width: 15vw;
  margin-left: 5vw;
  border-radius: 50%;
}

.user-info-section {
  width: 82vw;
}

.user-info-section h2 {
  font-size: 2.5rem;
}

.user-info {
  justify-content: space-between;
  width: 50%;
}
.user-info div {
  color: var(--primary);
  font-size: 1.1rem;
  width: 100px;
}

.user-info div p:first-child {
  color: white;
  font-size: 1.2rem;
}

.home-page-top-section {
  flex-wrap: wrap;
  background-color: var(--background-hover);
  padding: 1vh;
}
.home-page-top-section h2 {
  margin: 15px 0px;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.home-page-top-card {
  cursor: pointer;
  background-color: var(--background-light);
  min-width: 320px;
  width: 35vw;
  margin: 10px 0px;
  align-items: center;
}
.home-page-top-card:hover {
  background-color: var(--background-hover-lighter);
}
.home-page-top-card h4,
h6 {
  height: fit-content;
  margin-left: 10px;
}
.home-page-image-div {
  padding: 12px;
  background-color: rgba(225, 225, 225, 0.25)
}
.home-page-top-card img {
  width: 125px;
  height: 125px;
}

@media only screen and (max-width: 768px) {
  .user-about-section img {
    width: 150px;
  }
  .user-about-section {
    flex-direction: column;
    align-items: center;
  }
  .user-info {
    width: fit-content;
  }
}

@media only screen and (max-width: 425px) {
  .user-info {
    margin-top: 10px;
  }
  .user-info div p {
    font-size: 0.9rem;
  }
  .user-info div p:first-child {
    font-size: 1rem;
  }
  .home-page-top-card {
    min-width: 280px;
  }
}

@media only screen and (max-width: 320px) {
  .user-about-section img {
    width: 125px;
  }
}
