.home-page-container {
  position: relative;
  top: 10vh;
}

/* 
   -------------
  |   PROFILE   |
   -------------
*/

.home-profile-section {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.home-profile-name,
.home-profile-icon,
.home-profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-profile-name {
  grid-area: 1/1/4/4;
}
.home-profile-name h1 {
  text-align: center;
  width: 100vw;
  height: fit-content;
  font-size: 10vw;
  color: var(--primary);
}
.home-profile-name span {
  color: var(--tertiary);
}

.home-profile-icon {
  grid-area: 1/4/4/6;
}
.home-profile-icon img {
  border-radius: 50%;
  border: 10px solid var(--tertiary);
}

.home-profile-info {
  grid-area: 4/1/6/6;
}
.home-profile-info p {
  margin: 0px 15px;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  color: var(--primary);
  flex-direction: column;
  align-items: center;
}
.home-profile-info span {
  color: var(--tertiary);
  font-size: 1.5rem;
}

/* 
   ------------
  |   TRACKS   |
   ------------
*/

.home-tracks-section {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--primary);
}
.home-tracks-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-area: 1/1/6/3;
  padding-top: 2vh;
}

.home-tracks-top h2 {
  text-align: center;
  color: var(--secondary);
  font-size: 3rem;
  margin-bottom: 5vh;
}
.home-tracks-top span {
  color: var(--tertiary);
}

.home-track-top-div {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  border-radius: 30px;
}
.home-track-top-div img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.home-track-top-div h3,
h4 {
  margin-bottom: 10px;
}
.home-track-top-div h3 {
  font-size: 2.2rem;
  color: var(--primary);
}
.home-track-top-div h4 {
  font-size: 1.9rem;
  color: var(--tertiary);
}

.home-tracks-list {
  grid-area: 1/3/6/5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-tracks-list-div {
  cursor: pointer;
  width: 90%;
  background-color: var(--secondary);
  border-radius: 30px;
  display: flex;
  align-items: center;
  color: var(--tertiary);
}


.home-tracks-list-div p {
  padding: 1vh;
  font-size: 1.5rem;
}

.home-tracks-list-div img {
  width: 125px;
  height: auto;
}

.home-tracks-list-div h3 {
  word-wrap: break-word;
  width: 100%;
  margin: 0px 5px;
}

/* 
   ------------
  |   ARTIST   |
   ------------
*/

.home-artists-section {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.home-artists-list {
  grid-area: 1/1/6/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-artists-list-div {
  cursor: pointer;
  width: 90%;
  background-color: var(--primary);
  border-radius: 30px;
  display: flex;
  align-items: center;
  color: var(--secondary);
}

.home-artists-list-div p {
  padding: 1vh;
  font-size: 1.5rem;
}

.home-artists-list-div img {
  width: 125px;
  height: auto;
}

.home-artists-list-div h3 {
  word-wrap: break-word;
  width: 100%;
  margin: 0px 5px;
}

.home-artist-top {
  grid-area: 1/3/6/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2vh;
}
.home-artist-top h2 {
  text-align: center;
  color: var(--primary);
  font-size: 3rem;
  margin-bottom: 5vh;
}
.home-artist-top span {
  color: var(--tertiary);
}

.home-artist-top-div {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  border-radius: 30px;
}
.home-artist-top-div img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.home-artist-top-div h3 {
  margin-bottom: 10px;
  padding: 1vh;
  font-size: 2.2rem;
  color: var(--secondary);
}

@media only screen and (max-width: 425px) {
  .home-profile-info p {
    font-size: 1.5rem;
  }
  .home-profile-info span {
    font-size: 1.3rem;
  }
  .home-profile-info {
    width: 90vw;
  }
  .home-profile-info p, .home-profile-info span {
    font-size: 6vw;
  }
  .home-profile-icon img {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .home-page-container {
    top: 0;
  }
  .home-profile-name h1 {
    font-size: 20vw;
    text-align: center;
    margin-left: 0px;
  }

  .home-profile-icon {
    margin: 12vh;
  };

  .home-profile-info {
    border: 2px solid red;
    width: 90vw;
    padding-bottom: 10px;
  }

  .home-profile-info p, .home-profile-info span {
    font-size: 5.5vw;
  }

  .home-profile-info p {
    margin-bottom: 5vh;
  }

  .home-profile-section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .home-tracks-section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 20px;
  }
  .home-tracks-list {
    margin-top: 10vh;
  }
  .home-tracks-list-div {
    margin-bottom: 15px;
  }

  .home-artists-section {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    padding-bottom: 12vh;
  }
  .home-artists-list {
    margin-top: 10vh;
  }
  .home-artists-list-div {
    margin-bottom: 15px;
  }
}
