.artist-page-container {
  position: relative;
  top: 12vh;
}

.artist-page-header {
  margin: 1vh;
  display: flex;
  background-color: var(--primary);
}
.artist-page-header-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}
.artist-page-header-info h1 {
  font-size: 2.3rem;
}

.artist-page-header-info a {
  text-decoration: none;
  color: var(--tertiary);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  margin: auto 0px;
  padding: 15px;
  width: fit-content;
  background-color: var(--secondary);
}
#followers {
  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
}
.artist-page-header-info span {
  color: var(--secondary);
}
.artist-page-header img {
  background-color: var(--tertiary);
  padding: 1vh;
  width: 250px;
}

.artist-page-genre-div {
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
}

.artist-page-genre {
  border-radius: 30px;
  background-color: var(--secondary);
  margin-right: 5px;
  width: fit-content;
  padding: 1vh;
}

.artist-page-info {
  margin: 1vh;
  display: flex;
}

.artist-page-analysis,
.artist-page-top-tracks {
  padding: 1vh;
  background: var(--primary);
  width: 50%;
}
.artist-page-info h2 {
  font-size: 1.7rem;
  color: var(--secondary);
}

.artist-page-analysis {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  height: fit-content;
  height: 45vh;
}
.artist-page-analysis h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--tertiary) ;
}

.artist-page-analysis .graph {
  margin: auto 0px;
}
.artist-page-analysis-container {
  margin: auto 0px;
}

.artist-page-top-tracks {
  margin-left: 5px;
  width: 100%;
  height: 45vh;
}

.artist-page-track-container {
  margin: 5px 0px;
  height: 38vh;
  overflow: scroll;
}

.artist-page-top-track-div {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.artist-page-top-track-div:last-child {
  margin-bottom: 0px;
}

.artist-page-top-track-div h3 {
  margin-left: 10px;
  width: fit-content;
}

.artist-page-top-track-div p {
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: 15px;
}

.artist-page-top-track-div img {
  background-color: var(--tertiary);
  padding: 10px;
  width: 135px;
  height: 135px;
}

@media only screen and (max-width: 425px ){

}

@media only screen and (max-width: 768px ){
  .artist-page-container {
    top: 2vh;
  }
  .artist-page-header {
    flex-direction: column;
    align-items: center;
    padding: 2vh;
  }
  .artist-page-header-info {
    width: fit-content;
    align-items: center;
  }
  .artist-page-header-info a {
    margin: 10px 0px;
  }
  #followers {
    text-align: center;
  }

  .artist-page-genre-div {
    justify-content: center;
  }

  .artist-page-info {
    flex-direction: column;
  }
  .artist-page-analysis, .artist-page-top-tracks {
    width: 100%;
    margin: 10px 0px;

  }
  .artist-page-analysis {
    align-items: center;
  }
  .artist-page-analysis .graph {
    scale: 0.75;
  }
  .artist-page-top-tracks {
    margin-bottom: 12vh;
  }
}