@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --primary: #ff1212;
  --primary-light: #ff4545;
  --background: #212121;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #212121;
}
