@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap");

:root {
  --primary: rgba(43, 174, 102, 1);
  --secondary: rgba(252, 246, 245, 1);
  --tertiary: rgba(32, 43, 61, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(252, 246, 245);
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--tertiary)
}
button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--tertiary);
  text-underline-offset: 5px;
}
